<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.jameslenzini.cs441_project">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="cs441_project">
	</application>
    
	<!--Adjust screen scroll position when keyboard appears to prevent object from being under keyboard-->
	<activity
        android:windowSoftInputMode="adjustPan"
        android:name=".MainActivity">
	</activity>
</manifest>
